<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css" />

    <title>
      Rogelio Guzman 
    </title>
  </head>
  <body>
    <div class='container'>
      <div class='hero-unit'>
        <h1>Rogelio Antonio Guzmán Huerta</h1>
        <h3>rails, web, developer, css, minimalist, js, ruby, geek, techy, html5, perfectionist, pasion, agile, community</h3>
      </div>
      <div class='row'>
        <div class='span6'>
          <p>
          <a href='http://twitter.com/chinog9' target='blank' >@chinog9</a>
          </p>
        </div>
        <div class='span5'>
          <p>
          Hola
          </p>

        </div>
        <div class='span5'>
          <p>
          Hola
          </p>

        </div>

      </div>
    </div>

  </body>
</html>
