<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />

    <title>
      Rogelio Guzman 
    </title>
  </head>
  <body>
    <div class='container'>
      <div class='hero-unit'>
        <h1>Rogelio Antonio Guzmán Huerta</h1>
        <h3>rails, web, developer, css, minimalist, js, ruby, geek, techy, html5, perfectionist, pasion, agile, community...</h3>
      </div>
      <div class='row'>
        <div class='span16 info'>
          <a href='http://twitter.com/chinog9' target='blank' class='btn ' >TWITTER</a>
          <a href='http://github.com/rogeliog' target='blank' class='btn ' >GITHUB</a>
          <a href='http://stackoverflow.com/users/800254/rogeliog' target='blank' class='btn ' >STACKOVERFLOW</a>

        </div>

      </div>
    </div>

  </body>
</html>
