<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />


    <title>
      Rogelio Guzman 
    </title>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27675540-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

     </script>

   </head>
   <body>
     <div class='container'>
       <div class='hero-unit'>
         <h1>Rogelio Antonio Guzmán Huerta</h1>
         <h3>rails・web・developer・css・minimalist・js・ruby・solutions・courage・geek・tech fun・perfectionist・pasion・agile・community・entrepreneur・software</h3>
       </div>
       <div class='row'>
         <div class='span16 info'>
           <a href='http://twitter.com/chinog9' target='blank' class='btn ' >TWITTER</a>
           <a href='http://github.com/rogeliog' target='blank' class='btn ' >GITHUB</a>
           <a href='http://stackoverflow.com/users/800254/rogeliog' target='blank' class='btn ' >STACKOVERFLOW</a>

         </div>

       </div>
     </div>

   </body>
 </html>
